<div style="padding: 30px">
  <p-table [value]="aeropuerto.aviones">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <p-button (click)="aeropuerto.form_avion.reset(); aeropuerto.ver_formulario_avion=true" label="Adicionar"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Codigo</th>
        <th>Tipo</th>
        <th>Base</th>
        <th>Marca</th>
        <th>Accion</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-avion>
      <tr>
        <td>{{avion.codigo_avion}}</td>
        <td>{{avion.tipo_avion}}</td>
        <td>{{avion.ciudad_base}}</td>
        <td>{{avion.marca}}</td>
        <td><p-button (click)="aeropuerto.llenar_form_avion(avion); aeropuerto.ver_formulario_avion=true" label="Editar"></p-button></td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog header="Formulario de avión" [(visible)]="aeropuerto.ver_formulario_avion">
  <form [formGroup]="aeropuerto.form_avion">
    <div class="grid p-fluid">
      <div class="col-12 md:col-4">
        <input type="text" formControlName="codigo_avion" placeholder="Codigo avion" pInputText>
      </div>
      <div class="col-12 md:col-4">
        <select formControlName="tipo_avion" pInputText>
          <option value="Comercial">Comercial</option>
          <option value="Carga">Carga</option>
        </select>
      </div>
      <div class="col-12 md:col-4">
        <input type="text" formControlName="ciudad_base" placeholder="Ciudad base" pInputText>
      </div>
      <div class="col-12 md:col-4">
        <input type="text" formControlName="marca" placeholder="Marca" pInputText>
      </div>
    </div>
  </form>
  <p-button (click)="aeropuerto.guardar_actualizar_avion()" label="Guardar"></p-button>
</p-dialog>
