
<p-tabMenu *ngIf="api.usuario" [model]="aeropuerto.items"></p-tabMenu>
<router-outlet></router-outlet>






<!--<input type="text" #num1>
<input type="text" #num2>

<button (click)="sumar(num1.value, num2.value)">Sumar</button>
<button (click)="restar(num1.value, num2.value)">Restar</button>
<button (click)="multiplicar(num1.value, num2.value)">Multiplicar</button>
<button (click)="dividir(num1.value, num2.value)">Dividir</button>
<button (click)="resultado=0; num1.value=''; num2.value='';">Limpiar</button>

<h1 class="titulo_pagina" *ngIf="resultado">El resultado es: {{resultado}}</h1>-->

<!--<ul>
  <li class="titulo_pagina" *ngFor="let persona of lista">
    Nombre: {{persona.nombre}}
    Edad: {{persona.edad}}
    <button (click)="borrar_persona(persona)">Borrar</button>
  </li>
  <input type="text" #nom placeholder="Nombre">
  <input type="date" #fn placeholder="Fecha de nacimiento">
  <button (click)="adicionar_persona(nom.value, fn.value)">Adicionar persona</button>
</ul>-->

<!--
<div class="container m-4">
  <table class="table table-bordered border-primary table-hover auto-center">
    <thead class="table-primary">
      <tr>
        <th class="col-4"> <h3> Marca </h3> </th>
        <th class="col-4"> <h3> Modelos </h3> </th>
        <th class="col-4"> <h3> Disponibilidad </h3> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lista">
        <td>
          <div class="d-flex flex-column gap-2">
            <div class="d-flex justify-content-between">
              <h4> {{ item.marca }} </h4>
              <button class="btn btn-danger" (click)="borrar_item( item )"> Borrar </button>
            </div>
            <div class="d-flex gap-4">
              <input type="text" class="form-control" #marca placeholder="Marca">
            </div>
            <div class="d-flex justify-content-center">
              <button class="btn btn-warning" (click)="cambiar_marca( item, marca.value )"> Cambiar Marca </button>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex flex-column gap-4">
            <div class="d-flex flex-column gap-2" *ngFor="let modelo of item.modelos">
              <div class="d-flex justify-content-between">
                <h5> {{ modelo.linea }} - {{ modelo.version }} </h5>
                <button class="btn btn-danger" (click)="borrar_modelo( item, modelo )"> Borrar Modelo </button>
              </div>
              <div class="d-flex gap-4">
                <input type="text" class="form-control" #nueva_linea placeholder="Nueva Linea">
                <input type="text" class="form-control" #nueva_version placeholder="Nueva Version">
              </div>
              <div class="d-flex justify-content-center">
                <button class="btn btn-warning" (click)="cambiar_modelo( modelo, nueva_linea.value, nueva_version.value )"> Cambiar Modelo </button><br>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex flex-column gap-4">
            <div class="d-flex flex-column gap-2" *ngFor="let ciudad of item.disponibilidad">
              <div class="d-flex justify-content-between">
                <h5> {{ ciudad.ciudad }} </h5>
                <button class="btn btn-danger" (click)="borrar_ciudad( item, ciudad )"> Borrar Ciudad </button>
              </div>
              <div class="d-flex gap-4">
                <input type="text" class="form-control" #nueva_ciudad placeholder="Nueva Ciudad">
              </div>
              <div class="d-flex justify-content-center">
                <button class="btn btn-warning" (click)="cambiar_ciudad( ciudad, nueva_ciudad.value )"> Cambiar Ciudad </button><br>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex flex-column container m-4 w-50 gap-4">
  <div class="d-flex justify-content-between">
    <h5> Marca </h5>
    <input type="text" class="form-control w-50" #marca placeholder="Marca">
  </div>
  <div class="d-flex justify-content-between">
    <h5> Modelo </h5>
    <h6> Linea </h6>
    <input type="text" class="form-control w-25" #linea placeholder="Linea">
    <h6> Version </h6>
    <input type="text" class="form-control w-25" #version placeholder="Version">
  </div>
  <div class="d-flex justify-content-between">
    <h5> Disponibilidad </h5>
    <input type="text" class="form-control w-50" #ciudad placeholder="Ciudad">
  </div>
  <div class="d-flex justify-content-center gap-4">
    <button class="btn btn-primary" (click)="adicionar_marca( marca.value )"> Adicionar Marca </button>
    <button class="btn btn-primary" (click)="adicionar_modelo( marca.value, linea.value, version.value )"> Adicionar Modelos </button>
    <button class="btn btn-primary" (click)="adicionar_ciudad( marca.value, ciudad.value )"> Adicionar Ciudad </button>
  </div>
</div>
-->
